{% extends '::base.html.twig' %}
{% block body %}
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
  <!-- Enlace para cambie el rol del usuario y te renvie al mismo formulario-->
  <a href="{{ path('role_user', {'id': id  }) }}" class="btn btn-primary">Cambia su Rol</a>
{% endblock %}
