{% extends '::base.html.twig' %}
{% block body %}
<h3>Equipo Eliminado:</h3>
<strong>Nombre</strong>:{{ TablaEquipo.nombre }}<br>
<strong>Juego</strong>:{{ TablaEquipo.juego }}<br>
<strong>Ranking</strong>:{{ TablaEquipo.ranking }}
{% endblock %}
