{% extends '::base.html.twig' %}
{% block body %}
  <br>
  <h3>Listado de Equipo por Juego</h3>
  <br><br>
  {% for fila in TablaEquipos %}
    <div class="gallery">

        <img src="{{ asset( fila.foto ) }}" alt="Trolltunga Norway" width="300" height="200">

      <div class="desc">
        <h3>{{ fila.nombre }}</h3>
        <h5>Juego:{{ fila.Juego }}</h5>
        <a href="{{ path('Equipo_infoequipo', {'id': fila.id  }) }}" class="btn btn-primary">Mas Info</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
