{% extends '::base.html.twig' %}
{% block body %}
  <br>
  <h3>Equipo : Titan</h3>
  <h4>Juego: Laegue of legend</h4>
  <h4>Ranking: Platino 4</h4>
  <h4>Integrantes: 5</h4>
  <img src="" alt="">
  <hr>
  <h3>Integrantes:</h3>

  <div class="gallery">
      <img src="" alt="Mntains" width="600" height="400">
    <div class="desc">
      <h3>Raul</h3>
      <h5>NickName:Golfos</h5>
      <h5>Especialidad: Support</h5>
    </div>
  </div>
  <div class="gallery">
      <img src="" alt="Mntains" width="600" height="400">
    <div class="desc">
      <h3>Raul</h3>
      <h5>NickName:Golfos</h5>
      <h5>Especialidad: Support</h5>
    </div>
  </div>
  <div class="gallery">
      <img src="" alt="Mntains" width="600" height="400">
    <div class="desc">
      <h3>Raul</h3>
      <h5>NickName:Golfos</h5>
      <h5>Especialidad: Support</h5>
    </div>
  </div>
  <div class="gallery">
      <img src="" alt="Mntains" width="600" height="400">
    <div class="desc">
      <h3>Raul</h3>
      <h5>NickName:Golfos</h5>
      <h5>Especialidad: Support</h5>
    </div>
  </div>
  <div class="gallery">
      <img src="" alt="Mntains" width="600" height="400">
    <div class="desc">
      <h3>Raul</h3>
      <h5>NickName:Golfos</h5>
      <h5>Especialidad: Support</h5>
    </div>
  </div>
  <br>
{% endblock %}
