{% extends '::base.html.twig' %}
{% block body %}
  <br>
  <h3>Listado de los Ultimos partidos por Juego</h3>
  <br><br>
  <select class="" name="">
    <option value="*">Todos los Juegos</option>
    <option value="Overwath">Overwath</option>
    <option value="HOST">Heroes Of The Storm</option>
    <option value="lol">League of Legends</option>
    <option value="Dota">Dota 2</option>
  </select>
  <hr>
 <table class="table table-striped table-inverse">
   <tr>
     <th><input type="text" name="" value="" placeholder="Equipo 1"></th>
     <th><input type="text" name="" value="" placeholder="Equipo 2"></th>
     <th>Puntuacion 1</th>
     <th>Puntuacion 2</th>
     <th>Juego</th>
   </tr>
   <tr>
     <td><a href="">Titans</a></td>
     <td><a href="">Origin</a></td>
     <td>3</td>
     <td>2</td>
     <td>League of Legends</td>
   </tr>
   <tr>
     <td><a href="">BladeBlue</a></td>
     <td><a href="">Titans</a></td>
     <td>1</td>
     <td>2</td>
     <td>Heroes Of The Storm</td>
   </tr>
 </table>
{% endblock %}
